<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Users</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a class="spaNavigation" href="/app/home">Home</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Registered users</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="registeredUsersTable" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Resource(s)</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#users}}
                  <tr>
                    <td>{{userLogin}}</td>
                    <td>{{userName}}</td>
                    <td>
                    {{#resources}}
                        {{name}} - {{path}}{{^last}}, {{/last}}
                    {{/resources}}
                    </td>
                  </tr>
                  {{/users}}
                  <tfoot>
                  <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Resource(s)</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <script>
      $(function () {
        if(!$.fn.dataTable.isDataTable('#registeredUsersTable')){
          $("#registeredUsersTable").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#registeredUsersTable_wrapper .col-md-6:eq(0)');
        }
      });
      addNavigationHooks(jQuery);
    </script>